/*@import "reset.css";*/
body {
	background: #FFFFFF;
	border: 0px;
	font-family: "Tahoma", "Geneva", sans-serif;
	font-size: 12pt;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
@media print {
	a[href]:after,
	abbr[title]:after,
	acronym[title]:after {
	    content: " (" attr(title) ")";
	}
	a[href^="#"]:after,
	a[href^="javascript"]:after {
	    content: "";
	}
}
#settings {
	background: #FFF;
	border-right: 1px solid #EEE;
	position: absolute;
	height: 100%;
	padding: 0em 2em 0em 1em;
}
#render {
	background: #FAFAFA;
}
